build
doc/html
html/*
doc/build
*.out
lib
ltr/serialization_test/tester/tester.cc
ltr/serialization_test/tester/tester.cc.rule
/ltr/utility/include_openmp.h
LTR.h

# For ltr_site
*.pyc
/ltr_site/db.sqlite3
/ltr_site/config_maker/users
/ltr_site/dump.json
/jenkins/config_maker
