<!-- Copyright 2011 Yandex -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    {% block scripts %}
      <script type="text/javascript" src="{{ MEDIA_URL }}prototype.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}ui.js"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{{ MEDIA_URL }}logo.png" type="image/png" />
    <title>
      {% block title %} {% endblock %}
    </title>
  </head>

  <body>
    {% block menu %}
      <table width="100%" height="100px">
        <tr>
          <td width="130px">
            <a href="/"><img src="{{ MEDIA_URL }}logo.png" alt ="Home" /></a>
          </td>
          <td width = "100px">
            <a href="about"><img src="{{ MEDIA_URL }}about.jpg" alt ="About" /></a>
          </td>
          <td>
          </td>
          <td width="300">
            <div id="id_login">
              {% include '_login.html' %}
            </div>
          </td>
        </tr>
      </table>
    {% endblock %}

    {% block body %} {% endblock %}
    <hr>
    {% block copyright %} &copy; Yandex, 2011 {% endblock %}
  </body>
</html>